.text-black-50 {
    text-align: left;}

.img-fluid {
    padding-top: 125px;
    max-width: 85%;}

.page-section {
    background-image: url(../img/backheader1.png);
    background-size: cover;
    padding: 4rem 0;}
.bx {
    margin-left: 15px;}

.mt-0 {
    font-size: 40px;
    color: white;
    padding-top: 0.5em;}

.mb-5 {
    font-size: 20px;
    color: white;
    margin-bottom: 0;}

.divider {
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align:center;}

footer{
    margin-top: 0px;}